<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>

    {% include "nav.html" %}
    {% block tresc_wiadomosci %}
      {% if tresc_wiadomosci %}
        <div class="message">
          <div class="message__container">
            <div class="message__text">{{ tresc_wiadomosci }}</div>
            <div class="message__exit">X</div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
    <div class="container"><div class="row">

      <div class="col-md-10">
        <table class="table">
          <thead>
            <tr>
              <th>Nazwa</th>
              <th>Kategoria</th>
            </tr>
          </thead>
          <tbody>
            {% for ubezpieczenie in ubezpieczenie %}
            <tr>
              <td><a href="{% url 'ubezpieczenie' ubezpieczenie.id %}">{{ ubezpieczenie.tytul}}</a></td>
              <td>{{ ubezpieczenie.kategoria}}</td>
            </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>    var exit = document.querySelector('.message__exit');
    exit.addEventListener('click',()=>{
      message = document.querySelector('.message');
      message.style.display="none";
    })
    </script>
  </body>
</html>
