<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ubezpiczenie {{ubezpieczenie.tytul}}</title>
  </head>
  <body>
    {% include "nav.html" %}

    <div class="ubezpieczenie container">
      <div class="ubezpieczenie__innerContainer">
        <div class="row">
          <div class="col-md-6">
            <img
            {% load static %}
              src="{% static ubezpieczenie.plakat %}"
              alt=""
              class="ubezpieczenie__image"
            />
          </div>
          <div class="col-md-6">
            <div class="ubezpieczenie__content">
              <h3 class="ubezpieczenie__heading">Tytuł: <span>{{ubezpieczenie.tytul}}</span></h3>
              <p class="ubezpieczenie__category">Kategoria: <span>{{ubezpieczenie.kategoria}}</span></p>
              <div class="ubezpieczenie__CTA">
                              <a href="" class="button button__red">Zamów wycenę</a>
              </div>
            </div>
            </div>
          </div>
          <div class="ubezpieczenie__desc">{{ubezpieczenie.opis}}</div>
        </div>
                  <a style="position: absolute; right:5%" class="button button__whitered" href="{% url 'index' %}">Cofnij</a>
      </div>

    </div>

  </body>
</html>
