@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
body {
  color: black;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

* {
  color: #1d1d1b;
}

a {
  text-decoration: none !important;
  color: #1d1d1b;
}

.nav-link,
.nav-item {
  margin-right: 15px;
}

.login__headerImage {
  height: 100vh;
  position: absolute;
  right: 0;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.vh-100 {
  height: 100vh;
}

.customNavbar {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.redBox {
  width: 1.1rem;
  height: 1.1rem;
  background-color: red;
  margin-right: 10px;
}

.hero {
  width: 100%;
}

.hero h2 {
  text-align: center;
}

.navbar {
  padding: 5px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px #787bd9;
          box-shadow: 0 5px 15px #787bd9;
}

.navbar a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu--button {
  display: inline-block !important;
}

.button {
  cursor: pointer;
  font-size: 16px;
}

.button__whitered {
  line-height: 1.1875;
  background: #fff;
  border: 1px solid #e90039;
  border-radius: 6px;
  background: white;
  color: #e90039;
  padding: 15px 30px;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
  position: relative;
  z-index: 1;
}

.button__red {
  line-height: 1.1875;
  color: #fff;
  border: 1px solid #e90039;
  border-radius: 6px;
  background: #e90039;
  padding: 15px 30px;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
  position: relative;
  z-index: 1;
}

img {
  width: 100%;
}

.ubezpieczenie {
  position: relative;
}

.ubezpieczenie__content {
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ubezpieczenie .row {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .ubezpieczenie__desc {
    max-width: 750px;
    margin: auto;
  }
}

.ubezpieczenie__heading span, .ubezpieczenie__category span {
  color: #e90039;
}
